header{
    font-family: Helvetica,sans-serif;
    position: fixed;
    min-width: 100%;
    background: white;
    z-index: 1;
}

main{
    font-family: Arial, sans-serif;
}

main > section{
    padding-top: 106px;
}

header div#header-top{
    background-color: black;
    height: 30px;
}

header div#header-top #text-sony-logo{
    width: 100px;
}

header nav#header-nav ul li a{
    color: rgb(40, 40, 40) ;
}

header nav#header-nav ul li a:hover{
    color: #3368e6;
}

main div#jumbotron-top{
    background-image: url(../img/jumbo-bg.png);
}

main div#jumbotron-top, 
main div#jumbotron-middle{
    height: 700px;
    background-size: cover;
    background-position: center;
}

main div#jumbotron-top img, 
main div#jumbotron-middle img{
    width: 220px;
}

main div#carousel img.my-active-border{
    padding: 2px;
    border: 3px #3368e6 solid;
}

main div#carousel img:hover{
    position: relative;
    bottom: 7px;
    box-shadow: 0 7px 7px rgb(150, 150, 150);
}

main div#item-product .my-active-border{
    border: 3px #3368e6 solid;
    border-radius: 25px;
}

main div#item-product .my-opacity{
    filter: opacity(50%);
}

main div.my-jumbotron-top-text{
    padding-top: 300px;
}

main div.my-jumbotron-middle-text{
    padding-top: 50px;
}

main div#new-releases img:hover, 
main div#social img:hover, 
main div#discount img:hover{
    transform: scale(1.02);
} 

main div#social img:hover, 
main div#discount img:hover{
    box-shadow: 0 0 15px rgb(88, 88, 88);
}

main div#carousel img, 
main div#new-releases img, 
main div#social img, 
main div#discount img{
    border-radius: 20px;
    transition: all 0.2s ease-in-out
}

main div#jumbotron-top, 
main div#jumbotron-middle, 
main div#carousel img, 
main div#new-releases img, 
main img#console-ps5, 
main div#discount img, 
main div#social img{
    width: 100%;
}

main section div#item-product div img, 
main div#explore img{
    width: 70%;
}

main div#jumbotron-middle{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

main div#new-releases img{
    margin-bottom: 20px;
}

main div#ps-plus img#ps-plus-logo, 
main div#ps-now img#ps-now-logo{
    width: 50%;
}

main div#ps-plus img#ps-plus-picture, 
main div#ps-now img#ps-now-picture{
    width: 80%;
}

main div#ps-plus button.my-btn{
    background-color: rgba(255,255,255,0.5);
    border-radius: 25px;
    color: #3368e6;
}

main div#social, 
main div#discount, 
main div#explore{
    padding: 100px 0;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer ul li{
    line-height: 30px;
}

footer ul li a, 
footer ul li a:hover{
    text-decoration: none;
    color: white;
}

footer #sie-logo{
    width: 150px;
}

footer #playstation-logo-footer{
    width: 100px;
}

.btn:hover{
    filter: opacity(75%);
}

.my-bg-black{
    background-color: #000000;
}

.my-bg-light-gray{
    background-color: #bebcbb;
}

.my-bg-dark-blue{
    background-color: #161c3b;
}

.my-bg-blue{
    background-color: #00439c;
}