header{
    font-family: Helvetica,sans-serif;
}

main{
    font-family: Arial, sans-serif;
}

header div#header-top{
    background-color: black;
    height: 30px;
}

header div#header-top #text-sony-logo{
    width: 100px;
}

main div#jumbotron-top{
    background-image: url(../img/jumbo-bg.png);
}

main div#jumbotron-top, 
main div#jumbotron-middle{
    height: 700px;
    background-size: cover;
    background-position: center;
}

main div#jumbotron-top img, 
main div#jumbotron-middle img{
    width: 220px;
}

main div.my-jumbotron-top-text{
    padding-top: 300px;
}

main div.my-jumbotron-middle-text{
    padding-top: 50px;
}

main div#carousel img, 
main div#new-releases img{
    border-radius: 20px;
}

main div#jumbotron-top, 
main div#jumbotron-middle, 
main div#carousel img, 
main div#new-releases img, 
main img#console-ps5, 
main div#discount img, 
main div#social img{
    width: 100%;
}

main section div#item-product div img, 
main div#explore img{
    width: 70%;
}

main div#jumbotron-middle{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

main section.my-bg-light-black{
    background-color: #1f1f1f;
}

main div#new-releases img{
    margin-bottom: 20px;
}

main div#ps-plus img#ps-plus-logo, 
main div#ps-now img#ps-now-logo{
    width: 50%;
}

main div#ps-plus img#ps-plus-picture, 
main div#ps-now img#ps-now-picture{
    width: 80%;
}

main div#ps-plus button.my-btn{
    background-color: rgba(255,255,255,0.5);
    border-radius: 25px;
    color: #3368e6;
}

main div#social, 
main div#discount, 
main div#explore{
    padding: 100px 0;
}

footer ul {
    list-style: none;
}

footer ul li{
    line-height: 30px;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

#sie-logo{
    width: 150px;
}

.my-bg-light-gray{
    background-color: #bebcbb;
}

.my-bg-dark-blue{
    background-color: #161c3b;
}

.my-bg-blue{
    background-color: #00439c;
}